<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Config calendar</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="../static/main_style.css">
</head>
<body>
<!--    <div class="wrapper calendar">-->
        <table>
            <tr>
                <th></th>
                <th class="weekday">Monday</th>
                <th class="weekday">Tuesday</th>
                <th class="weekday">Wednesday</th>
                <th class="weekday">Thursday</th>
                <th class="weekday">Friday</th>
                <th class="weekday weekday_holiday">Saturday</th>
                <th class="weekday weekday_holiday">Sunday</th>
            </tr>
        </table>
<!--    </div>-->
    <script src="../static/config_calendar.js"></script>
</body>
</html>