<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Config calendar</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="../static/main_style.css">
</head>
<body>
    <div class="wrapper calendar">
        <label>{{event_name}}</label>
        <label>{{start_date}}</label>
        <table>
            <tr>
                <th></th>
                <th class="weekday">Monday</th>
                <th class="weekday">Tuesday</th>
                <th class="weekday">Wednesday</th>
                <th class="weekday">Thursday</th>
                <th class="weekday">Friday</th>
                <th class="weekday weekday_holiday">Saturday</th>
                <th class="weekday weekday_holiday">Sunday</th>
            </tr>
            <tr>
                <td class="month_name">July</td>
                <td class="day">1</td>
                <td class="day">2</td>
                <td class="day">3</td>
                <td class="day">4</td>
                <td class="day">20</td>
                <td class="day holiday">31</td>
                <td class="day holiday">1</td>
            </tr>
        </table>
    </div>
</body>
</html>