<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar configuration</title>
    <link rel="stylesheet" href="../static/main_style.css">
</head>
<body>
    <div class="wrapper">
        <div class="block">
            <label>
                input event name
            </label>
            <input id="event_name" type="text" maxlength="60">
        </div>
        <div class="block">
            <label>
                input start date
            </label>
            <input id="start_date" type="date" value="{{today_date}}" min="2023-01-01" max="2100-01-01" >
        </div>
        <div class="block">
            <button id="next_step">next step</button>
        </div>
    </div>
    <script>
        const btn = document.getElementById("next_step");
        const en = document.getElementById("event_name");
        const sd = document.getElementById("start_date");
        function save_and_next() {
            localStorage.setItem("event_name", en.value);
            localStorage.setItem("start_date", sd.value);
            window.location = window.location.origin + "/config_calendar";
        }
        btn.addEventListener("click", save_and_next);
    </script>
</body>
</html>